.profile-wrap {
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img.avatar-img {
        height: 140px;
        width: 140px;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}
.update-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

section#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .login-wrap {
        min-width: 400px;

        form {
            width: 100%;
        }
    }
}

.download-icon {
    font-size: 60px;
}
.logout-btn {
    background: #e27b7b;
    
    &:hover {
        background: #fc8d5d !important;
    }
}