section#buy {
    .text-left {
        text-align: left;
    }
    .sales {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a.btn-primary.market-btn, button.btn-primary.market-btn, .market-btn {
        background: #ffe100;
        border: 2px solid #7d700e;
        z-index: 1;
    }
    
    .game-purchase {
        min-height: 300px;
        background-size: cover;
    }
    .purchase-option {
        background: url(/images/buy/Web-EcoPurchaseImage.png);
        padding: 10px;
        height: 300px;
        position: relative;
        background-size: cover;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(6deg, rgb(11, 62, 66) 38%, rgba(17, 104, 111, 0) 100%);
            top: 0;
            left: 0;
            z-index: 1;
        }
        p.info {
            z-index: 1;
        }
    }
}
iframe#youtube {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
#requirements {
    padding: 70px 0px;
    width: 100%;
}
.game-banner {

    .title {
        background: #272a56;
        border: 1px solid #ffffff;
        color: #ffffff;
        text-align: center;
        font-size: 1.5rem;
    }
}
.title-wrap {
    z-index: 3;
}

span.icon-wrap {
    display: flex;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: left;
    top: 0;
    width: auto;
    min-width: 10%;
    background: #00000073;
    color: #ffffff;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
.buy-hosting {
    
    width: 33.33%;
    height: 300px;

    .card {
        background-repeat: no-repeat;
        background-size: cover;
        background-color: none;
        background-image: url(../assets/images/4netplayers_header.jpg);
    }

    .market-item{
        width: 100%;
        aspect-ratio: 1 / 2;
        cursor: pointer;
        position: relative;
        background-position: center center;
        .card-title {
            color: #ffffff;
            text-align: center;
            font-size: 1.1rem;
            background: #262a58;
            border: 1px solid #ffffff;
    
            &.subtitle {
                font-size: 1.2rem;
            }
            z-index: 3;
        }
        .item-price {
            color: #000000;
            font-weight: 700;
            text-align: center;
            z-index: 3;
            font-size: 1.2rem;
            background: #ffffff;
            width: 100%;
            padding: 0.2rem;
    
            p {
                margin-bottom: 0.3rem;
            }
        }
    
        &:hover {
            &::before {
                content: "Buy";
                background: rgba(0, 0, 0, 0.2196078431);
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                display: flex;
                align-items: center;
                color: #ffffff;
                font-weight: 900;
                justify-content: center;
                font-size: 2rem;
            }
        }
    }
}
.market-item{
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 1 / 2;
    cursor: pointer;
    position: relative;
    background-position: center center;
    .card-title {
        color: #ffffff;
        text-align: center;
        font-size: 1.1rem;
        background: #262a58;
        border: 1px solid #ffffff;

        &.subtitle {
            font-size: 1.2rem;
        }
        z-index: 3;
    }
    .item-price {
        color: #000000;
        font-weight: 700;
        text-align: center;
        z-index: 3;
        font-size: 1.2rem;
        background: #ffffff;
        width: 100%;
        padding: 0.2rem;

        p {
            margin-bottom: 0.3rem;
        }
    }

    &:hover {
        &::before {
            content: "Buy";
            background: rgba(0, 0, 0, 0.2196078431);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
            color: #ffffff;
            font-weight: 900;
            justify-content: center;
            font-size: 2rem;
        }
    }
}
#marketplace {
    .buy-credits {
        width: 16%;
    }
}
.voucher-input button {
    max-width: 80px;
    width: auto;
    margin: 0 !important;
}
.swiper-button-next, .swiper-button-prev {
    color: #ffffff;
}
.buy-gallery {
    &.gallery {
        display: flex;
        margin: 10px auto;
        max-width: 600px;
        position: relative;

        @media screen and (min-width: 600px) {
            padding-top: 400px;
        }

        .gallery__img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }
          
          .gallery__thumb {
            padding-top: 6px;
            margin: 6px;
            display: block;
          }
          .gallery__selector {
            position: absolute;
            opacity: 0;
            visibility: hidden;
          
            &:checked {
              + .gallery__img {
                opacity: 1;
              }
              ~ .gallery__thumb > img {
                box-shadow: 0 0 0 3px #0be2f6;
              }
            }
          }
    }
}

@media screen and (max-width: 1400px) {
    #marketplace {
        justify-content: flex-start !important;
        .buy-credits {
            width: 20%;
        }
    }
}
@media screen and (max-width: 1100px) {
    #marketplace {

        .buy-credits {
            width: 25%;
        }
    }
}
@media screen and (max-width: 999px) {
    #marketplace {
        
        .buy-credits {
            width: 33.33%;
        }
    }
    .hide-mobile {
        display: none;
    }
    .purchase-cta span {
        font-size: 17px;
        font-weight: bold;
    }

}
@media screen and (max-width: 500px) {
    #marketplace {
        
        .buy-credits {
            width: 50%;
        }
    }
    h2 {
        font-size: 28px;
        font-weight: bolder;
    }
    .hide-mobile {
        display: none;
    }
    .purchase-cta span {
        font-size: 17px;
        font-weight: bold;
    }

}