section#buy {
    .sales {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a.btn.btn-primary.market-btn, button.btn.btn-primary.market-btn {
        background: #ffe100;
        border: 2px solid #7d700e;
        z-index: 1;
    }
    .game-purchase {
        min-height: 300px;
        background-size: cover;
    }
    .purchase-option {
        background: url(/images/buy/Web-EcoPurchaseImage.png);
        padding: 10px;
        height: 300px;
        position: relative;
        background-size: cover;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(6deg, rgb(11, 62, 66) 38%, rgba(17, 104, 111, 0) 100%);
            top: 0;
            left: 0;
            z-index: 1;
        }
        p.info {
            z-index: 1;
        }
    }
}
#requirements {
    padding: 70px 0px;
}
.game-banner {

    .title {
        background: #272a56;
        border: 1px solid #ffffff;
        color: #ffffff;
        text-align: center;
        font-size: 1.5rem;
    }
}
.market-item{
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 1 / 2;
    background-position: center center;
    .card-title {
        color: #ffffff;
        text-align: center;
        font-size: 1.5rem;
    }
    .item-price {
        color: #ffe100;
        font-weight: 700;
        text-align: center;
        font-size: 1.5rem;

        p {
            margin-bottom: 0.3rem;
        }
    }
}
#marketplace {
    .buy-credits {
        width: 20%;
    }
}
