.landingpage {

    .hero-logo {
        box-shadow: none;
        width: 350px;
        margin: -50px auto 30px;
        display: block;
    }

    .trailer-wrap {
        margin-top: 80px;
        font-size: 22px;
        line-height: 38px;
        display: flex;
        gap: 20px;
    }
    .landing-banner {
        display: flex;
        gap: 20px;
        padding: 20px 0px;
        box-sizing: border-box;
    }
    .social-links {
        text-align: center;
        opacity: .9;
        white-space: nowrap;
    }

    .first-section {
        padding: 0 0 50px;
        display: flex;
        justify-content: center;
    }
    .purchase-wrap a.btn:hover {
        color: #000000 !important;
    }
}