.table-wrap {
    overflow-x: scroll;
    overflow-y: hidden;

    .user-search {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 50%;
        margin: 0px auto;
        flex-direction: row;

        .search-input {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    table {
        font-size: 14px;

        thead tr {
            background: #bfbfbf;

            th {
                padding: 10px;
            }
        }

        tbody tr
        {
            &:nth-child(odd) {
                background-color: #e6e6e6;
            }
            td {
                padding: 10px;
            }
            span.icon {
                font-size: 18px;
            }
        }
    }
}

.modal-edit-wrap {
    .button-wrap {
        display: flex;
        width: 50%;
        gap: 10px;
        flex-wrap: nowrap;
        box-sizing: border-box;
        padding: 20px;
        flex-direction: row;
        justify-content: center;

        button {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 5px;

            &#close {
                background-color: #f44336  !important;
                color: white;
                transition: 0.3s;

                &:hover {
                    background-color: #f44336 !important;
                }
            
            }
            &#save {
                background-color: #4CAF50 !important;
                color: white;
                transition: 0.3s;   
    
                &:hover {
                    background-color: #45a049 !important;
                }
            }
        }
    }
}
.accounts-back {
    position: absolute;
    right: 1rem;
    top: 1rem;
}