.table-wrap {
    overflow-x: hidden;
    overflow-y: hidden;

    .user-search {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 50%;
        margin: 0px auto;
        flex-direction: row;

        .search-input {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;

            &::-webkit-input-placeholder {
                font-weight: bolder;
                opacity: 1;
                color: #000000;
            }

            &::-moz-placeholder {
                font-weight: bolder;
                opacity: 1;
                color: #000000;
            }

            &:-ms-input-placeholder {
                font-weight: bolder;
                opacity: 1;
                color: #000000;
            }

            &::-ms-input-placeholder {
                font-weight: bolder;
                opacity: 1;
                color: #000000;
            }

            &::placeholder {
                font-weight: bolder;
                opacity: 1;
                color: #000000;
            }
        }
    }

    .results-info {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
    }

    table {
        font-size: 14px;

        thead tr {
            background: #bfbfbf;

            th {
                position: relative;
                padding: 10px;

                div {
                    display: flex;
                    gap: 10px;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                }

                &.fa-caret-down,
                .fa-caret-up {
                    font-size: 20px;
                }

                &:hover {
                    cursor: pointer;
                    background: #e7e7e7;
                }
            }

            span {
                cursor: pointer;
            }
        }

        tbody tr {
            &:nth-child(odd) {
                background-color: #e6e6e6;
            }

            td {
                padding: 10px;

                button {
                    background: #ffffff;
                    border: 1px solid #6c6c6c;
                    padding: 10px;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        background: #c1c1c1;
                    }

                    &.disabled {
                        background: #0000000a;
                        border: 1px solid #ffffff;
                        cursor: not-allowed;
                    }
                }
            }

            span.icon {
                font-size: 18px;
            }
        }
    }
}

.modal-edit-wrap {
    .button-wrap {
        display: flex;
        width: 50%;
        gap: 10px;
        flex-wrap: nowrap;
        box-sizing: border-box;
        padding: 20px;
        flex-direction: row;
        justify-content: center;

        button {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 5px;

            &#close {
                background-color: #f44336 !important;
                color: white;
                transition: 0.3s;

                &:hover {
                    background-color: #f44336 !important;
                }

            }

            &#save {
                background-color: #4CAF50 !important;
                color: white;
                transition: 0.3s;

                &:hover {
                    background-color: #45a049 !important;
                }
            }
        }
    }
}

.accounts-back {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#loading-modal,
#payment-modal {
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3411764706);
    justify-content: center;
    align-items: center;

    .btn-quantity {
        padding: 10px;
        font-size: 24px;
        height: fit-content;
        max-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        padding: 10px;
        font-size: 24px;
        width: unset;
        height: unset;
    }

    &.modal-user {
        .modal-content {
            max-width: 50%;
            max-height: 70%;
            overflow: hidden;
            height: 100%;
        }

        .modal-edit-wrap {
            width: 100%;
            overflow: hidden;
            justify-content: space-evenly;
            flex-wrap: nowrap;
        }
    }

    .modal-content {
        background: #ffffff;
        min-height: 200px;
        min-width: 400px;
        max-width: 30% !important;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button.close {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}